*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
}

.main{
  display: flex;
  justify-content: center;
  
}

.box{
  width: 200px;
  height: 200px;
  background: none;
  position: relative;
}

